@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body {
    /* Set a background image with repeat */
    background-image: url("https://static.prod.pokemon.com/images/pikachu_pattern.png");
    font-family: 'Patrick Hand', Arial, sans-serif;
    background-repeat: repeat;
    margin: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
}

.logo img {
    width: 150px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-btn {
    background-color: #333;
    color: white;
    border: none;
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-btn:hover {
    background-color: #555;
}

.profile-icon img {
    width: 50px;
    border-radius: 50%;
}